body {
    background-color: rgba(0, 75, 4, 0.559);
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 5px;
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
}